@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-light-grey:#adadb0;
    --app-dark-bg:#131313;
    --app-light-bg:#e0e0e0;

    --app-white:#eef0f2;
    --app-yellow:#eec643;
    --app-black:#232323;
    --app-blue:#0d21a1;
    --app-dark-blue:#011638;

    --app-btn-height: 46px;

    --app-light-text-color: #f1f2f3;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-letter-spacing: 0.2px;
    --app-line-height: 56px;

    --app-h1-font-size: 24px;
    --app-h1-font-weight: 700;
    --app-h2-font-size: 22px;
    --app-h2-font-weight: 600;
    --app-h3-font-size: 20px;
    --app-h3-font-weight: 500;
    --app-p-font-size: 17px;
    --app-small-font-size: 15px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

header {
    line-height: var(--app-header-line-height);
    height: 56px;
}

header h1 {
    text-transform: uppercase;
    font-size: var(--app-h1-font-size);
    font-weight: var(--app-h1-font-weight);
}