@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-light-grey:#adadb0;
    --app-dark-bg:#131313;
    --app-light-bg:#e0e0e0;

    --app-white:#eef0f2;
    --app-yellow:#eec643;
    --app-orange:#f88512;
    --app-yellow-hover:#f4c428;
    --app-black:#232323;
    --app-blue:#22314d;
    --app-dark-blue:#011638;
    --app-light-blue:#0956d2;

    --app-btn-height: 46px;

    --app-light-text-color: #f1f2f3;
    --app-dark-text-color: #1c1c1c;
    --app-light-grey-text-color: #767676;
    --app-grey-text-color: #343434;

    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-main-line-height: 35px;
    --app-footer-line-height: 112px;

    --app-h1-font-size: 24px;
    --app-h1-font-weight: 700;
    --app-h2-font-size: 22px;
    --app-h2-font-weight: 600;
    --app-h3-font-size: 20px;
    --app-h3-font-weight: 500;
    --app-p-font-size: 17px;
    --app-small-font-size: 14px;
}

/**************************************************/
/*****      MAIN                             ******/
/**************************************************/

.main {
    display: grid;
    place-items: center;    
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.sub-heading {
    text-align: center;
    display: grid;
    place-items: center;
}

.sub-heading h2 {
    padding: 20px 0px;
    color: var(--app-light-blue);
    font-size: var(--app-h2-font-size);
    font-weight: var(--app-h1-font-weight);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(225, 225, 226, 0.2);
    text-transform: uppercase;
}

span.sub-heading-line {
    width: 70%;
    height: 2px;
    background: linear-gradient(132deg, var(--app-yellow), var(--app-light-blue), var(--app-dark-blue));
    border-radius: 50px;
    display: block;
    margin: 10px 0px;
}

.btn { 
    display: inline-block;
    border-radius: 5px;    
    text-align: center;
    background-color: var(--app-yellow);
    padding: 5px 10px; 
    transition: background-color 0.4s ease-in-out;  
}

.btn a {
    font-size: var(--app-p-font-size);
    font-weight: 600;
    color: var(--app-dark-blue);
    text-decoration: none;
}

.btn:hover { 
    background-color: var(--app-yellow-hover);
    cursor: pointer;
}

/**************************************************/
/*****      HEADER and NAV                   ******/
/**************************************************/

header {
    background-color: var(--app-dark-blue);
}

header .logo {
    line-height: 80px;
}

header .logo h1 {
    text-transform: uppercase;
    font-size: var(--app-h1-font-size);
    font-weight: var(--app-h1-font-weight);
    color: var(--app-white);
}

/* Show reular nav menu when screen width is 923px and above */
@media only screen and (min-width: 923px) { 

    .burger-menu i {
        display: none;
    }

    nav {
        line-height: 100px;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li + li {
        margin-left: 18px;
    }
    
    nav ul li a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: var(--app-letter-spacing);
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        color: var(--app-white);
        position: relative;
        transition: all 0.4s ease-in-out;
    }
    
    nav ul li a:hover{
        color: var(--app-yellow);
    }
}

/* Show hamburger icon when screen width is below 922px */
@media only screen and (max-width: 922px) {
    nav {
        display: none;
    }

    .burger-menu {
        display: block;
        color: var(--app-white);
        font-size: var(--app-p-font-size);
        line-height: var(--app-header-line-height);
        transition: all 0.4s ease-in-out;
    }
    
    .burger-menu:hover {
        display: block;
        color: var(--app-white);
    }
}


/**************************************************/
/*****      FLEX CARDS                       ******/
/**************************************************/

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.row .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* flex cards with screen width 800px and up */
@media (min-width: 801px) {
    .row .card {
        width: calc(25% - 15px);
    }
}

/* flex cards with screen width 801px and down */
@media (max-width: 800px) {
    .row .card {
        width: calc(50% - 10px);
    }
}

/* flex cards with screen width 480px and down */
@media (max-width: 480px) {
    .row .card {
        width: 100%;
    }
}


/**************************************************/
/*****      FOOTER                           ******/
/**************************************************/

footer {
    line-height: var(--app-footer-line-height);
    height: 112px;
    background-color: var(--app-blue);
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
}

footer ul li + li {
    margin-left: 18px;
}

footer ul li a {
    font-size: var(--app-main-font-size);
    font-weight: 600;
    letter-spacing: var(--app-letter-spcaing);
    cursor: pointer;
    text-decoration: none;
    color: var(--app-white);
    position: relative;
}

footer p {
 color: var(--app-white);
}