@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-light-grey:#adadb0;
    --app-dark-bg:#131313;
    --app-light-bg:#e0e0e0;

    --app-white:#eef0f2;
    --app-yellow:#eec643;
    --app-black:#232323;
    --app-blue:#0d21a1;
    --app-dark-blue:#011638;

    --app-btn-height: 46px;

    --app-light-text-color: #f1f2f3;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-letter-spacing: 0.2px;
    --app-line-height: 56px;

    --app-h1-font-size: 24px;
    --app-h1-font-weight: 700;
    --app-h2-font-size: 22px;
    --app-h2-font-weight: 600;
    --app-h3-font-size: 20px;
    --app-h3-font-weight: 500;
    --app-p-font-size: 17px;
    --app-small-font-size: 15px;
}

/**************************************************/
/*****      MAIN                             ******/
/**************************************************/

.main {
    display: grid;
    place-items: center;    
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

/**************************************************/
/*****      HEADER and NAV                   ******/
/**************************************************/

header {
    line-height: var(--app-line-height);
    height: 56px;
    background-color: var(--app-dark-blue);
}

header h1 {
    text-transform: uppercase;
    font-size: var(--app-h1-font-size);
    font-weight: var(--app-h1-font-weight);
    color: var(--app-white);
}

/* Show reular nav menu when screen width is 923px and above */
@media only screen and (min-width: 923px) { 

    .burger-menu i {
        display: none;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li + li {
        margin-left: 18px;
    }
    
    nav ul li a {
        font-size: var(--app-main-font-size);
        font-weight: 600;
        letter-spacing: var(--app-letter-spcaing);
        cursor: pointer;
        text-decoration: none;
        color: var(--app-white);
        position: relative;
    }

    /* Scale from center */
    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--app-white);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    nav ul li a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    nav ul li a:hover::after,
    nav ul li a:focus::after{
        transform: scale(1);
    }
}

/* Show hamburger icon when screen width is below 922px */
@media only screen and (max-width: 922px) {
    nav {
        display: none;
    }

    .burger-menu {
        display: block;
        color: var(--app-white);
        font-size: var(--app-main-font-size);
        line-height:  var(--app-line-height);
    }
    
    .burger-menu:hover {
        display: block;
        color: var(--app-white);
    }
}
