@import "./base.css";
@import "./products.css";

/**************************************************/
/*****      LOGO                             ******/
/**************************************************/

h1 .company-logo {
    font-family: 'Megrim', cursive;
    font-size: 40px;
    font-style: italic;
    position: relative;
    top: 10px;
    left: 10px;
    margin-right: 5px;
}

.wave {
    background-color: var(--app-yellow);
    width: 62%;
    height: 2%;
    border-radius: 50px;
    position: relative;
    top: -24%;
    left: 38%;
}

/**************************************************/
/*****      HERO BANNER                      ******/
/**************************************************/


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--app-white);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
header .logo {
    color: var(--app-white);
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--app-dark-grey-bg);
    transition: 0.5s;
    z-index: 2;
}
  
.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #323c41;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500; 
    margin-top: 10px;
    color: #111;  
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a  {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}

@media (max-width: 991px) {
    .showcase,
    .showcase header
    {
        padding: 40px;
    }
    .text h2
    {
        font-size: 3em;
    }
    .text h3
    {
        font-size: 2em;
    }
}