@import "./base.css";
@import "./products.css";

/**************************************************/
/*****      LOGO                             ******/
/**************************************************/

h1 .company-logo {
    font-family: 'Megrim', cursive;
    font-size: 40px;
    font-style: italic;
    position: relative;
    top: 10px;
    left: 10px;
    margin-right: 5px;
}

.wave {
    background-color: var(--app-yellow);
    width: 62%;
    height: 2%;
    border-radius: 50px;
    position: relative;
    top: -24%;
    left: 38%;
}

/**************************************************/
/*****      HERO BANNER                      ******/
/**************************************************/


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--app-white);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
header .logo {
    color: var(--app-white);
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--app-dark-grey-bg);
    transition: 0.5s;
    z-index: 2;
}
  
.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #323c41;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}