@import "./base.css";

/**************************************************/
/*****      HEADER and NAV                   ******/
/**************************************************/


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--app-white);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
header .logo {
    color: var(--app-white);
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--app-dark-grey-bg);
    transition: 0.5s;
    z-index: 2;
}
  
.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #323c41;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}
    




/**************************************************/
/*****      PRODUCTS                         ******/
/**************************************************/

.projects-container {
    text-align: left;
    height: 100vh;
    background: radial-gradient(#e4ecf6, #f1f4fb);
}

.projects-container .row .card {
    border-radius: 5px;
    background-color: var(--app-light-text-color);
    box-shadow: 0 20px 48px 0 var(--app-shadow-color);
    transition: transform 450ms;
    padding: 20px;
}

.projects-container .row .card h3 {
    font-size: 14px;
    font-weight: var(--app-h1-font-weight);
    color: var(--app-light-grey-text-color);
    text-transform: uppercase;
}

.projects-container .row .card p {
    font-size: 14px;
    font-weight: 400;
    color: var(--app-dark-grey-bg);
}

.projects-container .row .card:hover {
    transform: translateY(-10px);
}

.projects-container .row .card div.top p {
    margin: 10px 0 10px 0;
}

.projects-container .row .card div.top {
    flex: 1;
}
  
.projects-container .row .card .bottom {
    flex: none;
    text-align: center;
    width: 100%;
    border-top: 1px solid rgb(225, 225, 226);
    padding: 20px 0px;
}

.card-btn { 
    display: inline-block;
    border-radius: 5px;    
    text-align: center;
    width: 100%;
    background-color: var(--app-yellow);
    padding: 5px 10px; 
    transition: background-color 0.25s ease-in-out;  
}

.card-btn a {
    font-size: 14px;
    font-weight: 700;
    color: var(--app-dark-text-color);
    text-decoration: none;
}

.card-btn:hover { 
    background-color: var(--app-yellow-hover);
    cursor: pointer;
}

.projects-container .row .card .price {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1px solid rgb(225, 225, 226);
    border-top: 1px solid rgb(225, 225, 226);
}

.projects-container .row .card .price .dollar {
    font-size: .83em;
    vertical-align: baseline;
    position: relative;
    font-size: 21px;
    font-weight: 600;
    color: var(--app-light-blue);
}

.projects-container .row .card .price .money {
    font-size: 50px;
    font-weight: var(--app-h2-font-weight);
    color: var(--app-light-blue);
}

.projects-container .row .card .price .pay-per {
    font-size: var(--app-p-font-size);
    font-weight: var(--app-p-font-weight);
    color: var(--app-grey-text-color);
    position: relative;
    bottom: -2em;
}

.projects-container .row .card .bold-p {
    font-size: 14px;
    font-weight: 600;
    color: var(--app-yellow-hover);
    display: block;
}

.projects-container .row .card .features p {
    padding: 5px 0px;
    border-top: 1px solid rgb(225, 225, 226);
    line-height: var(--app-main-line-height);
    margin: 0px auto;
}